:root {
  font-family: system-ui, Helvetica, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  --base-font-size: calc(max(1px, 1 / 1728 * 100vw) * 16);
  font-size: var(--base-font-size);
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.01em;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
}

* {
  box-sizing: border-box;
}
